body{
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.titre1{
    color:  rgb(151, 23, 23);
    font-size: 30px;
    font-weight: 700;
}
.titre2{
    color: #fff;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 275;
font-size: 76px;
line-height: 93px;
   
}
h6{
    text-transform: uppercase;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 40px;
color: black;
}
#pills-tab{
    background-color: rgb(91, 17, 17);
    height: 100px;
    padding-left: 35%;
    padding-top: 30px;
}
#pills-tab li a{
    background-color: rgb(91, 17, 17);
    color: #fff;
    font-weight: bold;
}

.footer{
color: #fff;
background: #311919;
position: absolute;
width: 100%;
height: 162px;

padding-top: 60px;
}
/* =======partie home ============= */
.parti1h{
    padding-top: 70px;
    margin-top: 80px;
}

 .parti1h img{
    width: 764px;
    height: 476px;
    position: relative;
    left: 330px;
   
}
#paragraphe1{
    background-color: #F6E1C5;
    width: 510px;
    height: 320px;
    text-align: center;
    overflow: visible;
    padding: 3% 3% 3% 3%;
    position: relative;
    left: 10px;
    bottom: 400px;
    overflow: visible;
    border-radius: 5px;
    
}
#paragraphe1 a{
    background-color:#7B261A;
    color: #fff;
    width: 180px;
    height: 60px;
    position: relative;
    top: 50px;
    text-align: center;

}
#paragraphe1 a:hover{
    background-color: #f19215;
    color: black;
}

.paragraphe2{
    background-color: #A5342BB0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    bottom: 200px;
}
.border2{
    width: 780px;
    border: 2px solid #F6E1C5;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}
.para1{
    background-color: #F6E1C5;
    width: 760px;
    height: 350px;
    border: 1px solid #F6E1C5;
    border-radius: 5px;
    box-sizing: border-box;
   
}

/* =====fin de la partie home===== */

/* =========debut de la  about ====== */
#pills-about img{
    position: relative;
    width: 90%;
    margin-top: 50px;
    left: 50px;
}
.paragraphe3{
    background-color: #F6E1C5;
    padding: 50px 50px 50px 50px;
    width: 700px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    left: 200px;
    bottom: 50px;
}

/* ========fin de la partie about ========= */

/* ==========debut de la partie products===== */
.pp1{
    background-color: #F6E1C5;
    border-radius: 5px;
    width: 400px;
    height: 150px;
    position: relative;
    left: 650px;
    bottom: 450px;
    overflow: visible;
}
.pp2{
    background-color: #F6E1C5;
    border-radius: 5px;
    width: 500px;
    height: 160px;
    padding: 20px 20px 20px 20px;
    position: relative;
    left: 30px;
    bottom: 100px;
    overflow: visible;
}
#pills-products .img1{
    width: 800px;
    height: 500px;
    position: relative;
    left: 100px;
    top: 120px;
}
/* 2 P */
#pills-products .img2{
    width: 800px;
    height: 500px;
    position: relative;
    left: 100px;
   
}
.pp4{
    background-color: #F6E1C5;
    border-radius: 5px;
    width: 400px;
    height: 150px;
    position: relative;
    left: 650px;
    bottom: 550px;
    overflow: visible;
}
.pp5{
    background-color: #F6E1C5;
    border-radius: 5px;
    width: 500px;
    height: 160px;
    padding: 20px 20px 20px 20px;
    position: relative;
    left: 30px;
    bottom: 200px;
    overflow: visible;
}
/* 3p */
#pills-products .img3{
    width: 800px;
    height: 500px;
    position: relative;
    left: 100px;
   
}
.pp6{
    background-color: #F6E1C5;
    border-radius: 5px;
    width: 400px;
    height: 150px;
    position: relative;
    left: 650px;
    bottom: 550px;
    overflow: visible;
}
.pp7{
    background-color: #F6E1C5;
    border-radius: 5px;
    width: 500px;
    height: 160px;
    padding: 20px 20px 20px 20px;
    position: relative;
    left: 30px;
    bottom: 200px;
    overflow: visible;
}

/* =======fin de la partie products========= */

/* ========debut de la partie store========== */
#store{
    background-color: #A5342BB0;
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.border1{
    width: 720px;
    border: 3px solid #CD5449;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}
.pstore{
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 5px;
    background-color: #F6E1C5;
    text-align: center;
    width: 700px;
    font-family: 'Merienda-Bold';
}
#pills-store img{
    position: relative;
    width: 90%;
    margin-top: 50px;
    left: 50px;
}
.paragraphe4{
    background-color: #F6E1C5;
    padding: 20px 50px 50px 50px;
    width: 700px;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    left: 200px;
    bottom: 50px;
}

/* =======fin de la partie store ======== */